
        h1 {
            color: blue;
            text-align: center;
        }
        p {
            color: green;
            font-size: 18px;
        }

        button {
            Background-color: red;
            color: white;
        }
